# Dependencies
node_modules/
.pnpm-store/

# Vite / Build outputs
.vite/
dist/
build/

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
venv/
.venv/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
